@extern('header')
  <link rel="stylesheet" type="text/css" href="./views/static/css/landing.css">
  <div id="wrapper">
    <div>
      <img id="img" src="./img/logo.jpeg">
    </div>
    <div id="info">
      <section class="features">
        <div class="feature">
          <u><h2>Pronóstico preciso</h2></u>
          <p>Obtén datos meteorológicos en tiempo real.</p>
        </div>
        <div class="feature">
         <u><h2>Interfaz amigable</h2></u>
          <p>Fácil de usar, incluso para principiantes.</p>
        </div>
        <div class="feature">
          <u><h2>No solo la temperatura</h2></u>
          <p>Veras informacion como la probabilidad de incendios, humedad, viento, presion, etc.</p>
        </div>

          <div id="button">
            <a href="panel">
              <button>
                Go to the page! 
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </button>
            </a>
          </div>
      </section>
    </div>          
  </div>
</body>
</html>