<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css">

</head>
<body>

	<!-- Envoltura de todo el contenido -->
	<div id="wrapper">

		<!-- Encabezado -->
		<div id="header">
			
			<!-- Seccion para colocar el logo -->
			<div id="hero">
				<img src="img/system/hero.png" alt="">
			</div>

			<!-- Sección para colocar los botones de login / register / cerrar sesión / menú -->
			<div id="control">
				
				<a href="login" class="btn_login">Login</a>
				<a href="register" class="btn_register">Register</a>

			</div>

		</div>
		<!-- Fin encabezado -->
		
		<!-- Contenedor de datos (cuerpo) -->
		<div id="container">

			<!-- mini ventana que se centra en el cuerpo -->
			<div id="container_data">
				
				<!-- sección izquierda para la imagen -->
				<div id="imagen">	
					<img src="img/landing.svg" alt="">
				</div>
			
				<!-- Seccion derecha para la explicación -->
				<div id="description">
					<h1>Bienvenido a los apuntes X</h1>
					<h2>Ya somos {{CANT_USUARIOS}} usuarios compartiendo {{CANT_APUNTES}} apuntes</h2>
				</div>

			</div>

		</div>

	</div>

</body>
</html>