<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css">

</head>
<body>

	<!-- Envoltura de todo el contenido -->
	<div id="wrapper">

		<!-- Encabezado -->
		<div id="header">
			
			<!-- Seccion para colocar el logo -->
			<div id="hero">
				<a href="?slug=landing">
					<img src="img/system/hero.png" alt="">
				</a>
			</div>

			<!-- Sección para colocar los botones de login / register / cerrar sesión / menú -->
			<div id="control">
			
				<a href="?slug=logout" class="btn_login">Cerrar sesión</a>
			</div>

		</div>
		<!-- Fin encabezado -->
		
		<!-- Contenedor de datos (cuerpo) -->
		<div id="container">

			<!-- mini ventana que se centra en el cuerpo -->
			<div id="container_data">
				
				<!-- sección izquierda para la imagen -->
				<div id="imagen">	
					<img src="img/system/panel.svg" alt="">
				</div>
			
				<!-- Seccion derecha para la explicación -->
				<div id="description">
					<h1>Bienvenido:</h1>
					<div id="user_name">{{USER_NAME}}</div>
					<div id="user_name">{{USER_ID}}</div>
				</div>

			</div>

		</div>

	</div>

</body>
</html>