@extern('header')
	<link rel="stylesheet" type="text/css" href="views/static/css/panel.css">
				<div id="estacion-titulo"><h1>Estaciones</h1></div>

		<div id="estaciones">
		</div>

		<template id="tpl-btn-estacion">
			<div class="estacion">
				
				<a href="" class="btn-estacion">
					<h3><div class="estacion-nombre">
						
					</div></h3>

					<div class="estacion-ubicacion">
						
					</div>

					<div class="estacion-visitas">
						
					</div>
				</a>
			</div>

		</template>

		
	

	<script type="text/javascript" src="views/static/javascript/estaciones.js"></script>

	
