<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css?seed=1010101919">

</head>
<body>

	<div id="mist">
		
		<div id="windown">
			
			<div id="window__control">
				<div id="window__close">
					X
				</div>
			</div>

			<div id="window__content">
				Esta seguro que desea abandonar la super app
			</div>

			<div id="window__buttons">
				
				<a href="abandonar">
					<div id="window__accept" class="btn__accept">Aceptar</div>
				</a>

				<div id="window__cancel" class="btn__cancel">Cancel</div>

			</div>

		</div>

	</div>

	<!-- Envoltura de todo el contenido -->
	<div id="wrapper">

		<!-- Encabezado -->
		<div id="header">
			
			<!-- Seccion para colocar el logo -->
			<div id="hero">
				<a href="landing">
					<img src="img/system/hero.png" alt="">
				</a>
			</div>

			<!-- Sección para colocar los botones de login / register / cerrar sesión / menú -->
			<div id="control">
				<a href="panel" class="btn_login">Panel</a>
				<a href="logout" class="btn_login">Cerrar sesión</a>
			</div>

		</div>
		<!-- Fin encabezado -->
		
		<!-- Contenedor de datos (cuerpo) -->
		<div id="container">

			<!-- mini ventana que se centra en el cuerpo -->
			<div id="container_data">
				
				<!-- sección izquierda para la imagen -->
				<div id="imagen">	
					<img src="img/system/panel.svg" alt="">
				</div>
			
				<!-- Seccion derecha para la explicación -->
				<div id="description">
					<h1>Perfil</h1>

					<img src="{{AVATAR}}" alt="">

					<div class="error_form">{{MSG_ERROR_FORM}}</div>

						<form action="" method="POST">

							<input type="text" placeholder="nombre" name="txt_nombre" value="{{USER_FIRST_NAME}}" required>

							<input type="text" placeholder="apellido" name="txt_apellido" value="{{USER_LAST_NAME}}" required>

							<input type="submit" name="btn_modificar" value="modificar">
						</form>


						<button id="btn__leaveout">Abandonar</button>



				</div>

			</div>

		</div>

	</div>


	<script type="text/javascript">


		btn__leaveout.addEventListener("click", e =>{

			windowVisible();

		})

		window__close.addEventListener("click", e => {
			windowsHidden();
		})

		window__cancel.addEventListener("click", e => {
			windowsHidden();
		})

		function windowVisible(){
			mist.style.display = "flex" 	
		}
		
		function windowsHidden(){
			mist.style.display = "none"
		} 

	</script>

</body>
</html>