*{
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
body{
background: url("https://www.wallpapertip.com/wmimgs/66-661879_star.jpg") no-repeat;
	background-size: cover;
	background-position: center; 
}
#estaciones{
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 2em;
}
.estacion{
	background-color: rgba( 0, 0, 0, 0.6);
	width: 22em;
	height: 10em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		border-radius: 10px;

}
.estacion-nombre{
	width: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.estacion:hover{
	cursor: pointer;
	background-color: rgba( 0, 0, 0, 1);
	border: solid 0px gray;
	box-shadow: 4px 4px 4px -3px black;
}
.color-ubicacion{
	color: red;
}