:root{
	--bg-color: #38a3a5;
	--bg-color-header: #c7f9cc;
	--bg-color-container: #80ed99;
}

*{
	padding: 0rem;
	margin: 0rem;
	font-family: sans-serif;
	box-sizing: border-box;
}

.btn_register {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.btn_register:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.btn_register:active {
	position:relative;
	top:1px;
}



.btn_login {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn_login:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn_login:active {
	position:relative;
	top:1px;
}

       

body{
	background-color: var(--bg-color);
}

#header{
	background-color: var(--bg-color-header);
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	/*! gap: 1rem; */
}


#control {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

#container{
	/*! background-color: var(--bg-color-container); */
	margin-top: 5rem;
	/*! width: 600px; */
	display: flex;
	justify-content: center;
	align-items: center;
}


#container_data {
  width: 600px;
  background-color: var(--bg-color-container);
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
	
	
/*16 de tamaño de fuente = 1 REM */

#hero img{
	width: 7rem;
}
	
#container img {
  width: 300px;
}